.Fahrplan {
  margin: 1rem;
}

.Fahrplan-Expand {
  color: #fff;
  border-color: rgba(255, 255, 255, 0.3);
  padding: 0.3rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.Fahrplan-Error {
  padding: 1em;
  border: 2px solid #600;
  background-color: #300;
  color: #fff;
}

.Fahrplan-Loading,
.Fahrplan-LastUpdated {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
  color: #fff;
  margin: 1em;
  text-align: center;
}